.main{
  background-color: bisque;
  line-height: 40px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(160, 159, 159);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  padding: 15px;
  background-color: beige;
  border-radius: 10px;
  border: 2px solid rgb(168, 165, 165);
  box-shadow: 1px 1px 2px 2px;
}
.main:hover{
  background-color: rgba(167, 163, 163, 0.799);
  transition: 0.5s;
  cursor: pointer;
}
h3{
  font-size: 25px;
  font-weight: bold;
}
h4{
  font-size: 18px;
}